bottle~=0.13.2
google-cloud-firestore~=2.20.0
google-cloud-storage~=3.0.0
google-cloud-tasks~=2.18.0
google-cloud-logging~=3.11.4
line-bot-sdk==2.4.3
google-api-python-client~=2.160.0
requests==2.31.0
twilio~=9.4.4
pusher~=3.3.3
firebase-admin~=6.6.0
Pillow~=12.3.0
Arpeggio~=2.0.2
PyYAML~=6.0.2
pytz~=2025.1
gunicorn~=23.0.0
